@tailwind base;
@tailwind components;
@tailwind utilities;

.input-style {
    @apply bg-slate-100 text-slate-600 dark:text-slate-200 rounded-lg py-3 pl-3 pr-10 outline-transparent border-2 border-transparent hover:border-violet-600 focus:border-violet-600 focus:outline-none transition dark:bg-slate-800
}

.input-style-error {
    @apply bg-slate-100 text-slate-600 dark:text-slate-200 rounded-lg py-3 pl-3 pr-10 outline-transparent border-2 border-red-500 focus:outline-none transition dark:bg-slate-800
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}


::-webkit-scrollbar {
    @apply w-2;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-slate-200 dark:bg-slate-800;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-700 rounded-md border border-red-400;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400 dark:bg-slate-600;
  }
  