PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=JnP0ov5WLS37nt8kBWFJWFHqSkzGhtNg
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=docker
PG_PASSWORD=docker
PG_DB_NAME=pyxtodo
